
@import url('"https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet"');

@font-face {
    font-family: 'Donau';
    src: url()
        /* Ruta de la fuente */
}


*{
    box-sizing: border-box;
    font-family: 'Donau';
    margin: 0;
    padding: 0;
    justify-content: center;
}

body{
    font-family: Donau;
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    font-size: 50px;
}

.iniciodos {
    background-size: cover;
    height: 100vh;
margin-top: 5em;
}

.iniciodos .arte {

    text-align:center;
    width: 100%;
    height: 5em;
    align-content: center;
}

.iniciodos .arte h2 {
   font-size: 60px;
    }

.dosd .ilustracion h3 {
    color: aliceblue;
    text-align:left;
    font-size: 30px;
}
    

.inicio #video_resumen {
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
}



.inicio .titulo h1{
    font-size: 60px;
    text-align: center;
    padding-bottom: 1em;
    color: black;
    text-align: left;
    text-align: center;
    margin-bottom: 2em;
    height: 1.2em;
    width: 100%;
}

.inicio .resumen {
    display: flex;
    flex-direction: column;
    }
    

.inicio .resumen h3{
    font-size: 30px;
    text-align: center;
    padding-bottom: 1em;
    color: black;
    text-align: left;
}

.inicio .resumen .texto{
    padding-right: 4em;
    color: black;
}


 #proceso_nave {
    display: flex;
}

 #proceso_nave .nave {
    width: 20%;
}


#proceso_nave .nave img {
    width: 80%;
}

#nave_final {
    width: 100%;
    background-color: black;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#nave_final img{
    width: 30%;

}

#columna_nave .fondo {
    display: flex;
    width: 100%;
    height: 700px;
}

#columna_nave .fondo .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: space-around;
}

 #titulo_texto {
    align-content: center;
    
}

#titulo_texto .ilustracion {
    width: 100%;
    height: 5em;
    align-content: center;

}

#columna_nave .fondo #titulo_texto .texto {
    width: 70%;
}

#columna_nave .fondo #titulo_texto .texto p {
border-style: solid;
border-radius: 4em;
padding: 2em;
}


#columna_nave .fondo img {
width: 45%;
}
    

.mi-funcion{
    padding: 1.5%;
    display: block;
    text-align: center;
}

.mi-funcion h3{
    font-size: 30px;
    padding-bottom: 2em;
}

.mi-funcion img{
    padding-top: 2em;
    max-width: 1000px;
}

.creditos{
    padding: 3%;
    display: flex;
    max-width: 1500;
    margin: auto;
}

.creditos img{
    max-width: 50%;
}

.creditos .miembros{
    padding-left: 4em;
}

.creditos .miembros h3{
    font-size: 30px;
    padding-bottom: 2em;
}

.back{
    text-align: center;
    font-size: 40;
    padding-bottom: 40px;
}

.back button {
width: 10rem;
height: 3em;
border-radius: 20px;
border-style: none;
background-color: #A24736;
}

.back button a{
text-decoration: none;
color: white;
}